@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="https://nhibernate.info/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/NHibernate-logo.svg/1200px-NHibernate-logo.svg.png" style="width: 100%" title="NHibernate" />
    </a>    
</div>