@using Web.Models
@model List<Produtos>
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .swal-wide {
        width: 850px !important;
    }
</style>
<br />
<div class="border backgroundWhite col-16" style="padding:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Produtos</h2>
        </div>

        <div class="col-6">
            <a asp-action="Create" class="btn btn-primary" style="float:right; margin:10px"><i class="fas fa-plus"></i> &nbsp; Novo Produto</a>
        </div>
        <br />
        <div class="col-6">
        </div>
    </div>

    <br />
    <br />

    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>QTD</th>
                <th>Nome Produto</th>
                <th>Preço Custo</th>
                <th>Preço Venda</th>
                <th>Sub Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="modalRequisitar" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center;" id="title_Produto_Req"> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="center-margin">
                    <div class="row">
                        <form method="post" asp-action="RequisitarProduto" id="requisitarProduto">
                            <div class="row px-2 mx-2 backgroundWhite border">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="col-12" style="padding:20px;">
                                    <br />
                                    <br />

                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="PrecoVenda_Req">Preço Venda </label>
                                        </div>
                                        <div class="col-8">
                                            <input disabled="disabled" id="PrecoVenda_Req" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="Qtdproduto_Req">Qtd Produto </label>
                                        </div>
                                        <div class="col-8">
                                            <input disabled="disabled" id="Qtdproduto_Req" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="QtdRetirar_Req">Qtd Requisitar </label>
                                        </div>
                                        <div class="col-8">
                                            <input type="number" min="0" id="QtdRetirar_Req" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="subTotal">Sub Total</label>
                                        </div>
                                        <div class="col-8">
                                            <input disabled="disabled" id="SubTotal" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <br />
                            <div>
                                <button type="submit" id="submit_Req" class="btn btn-primary" style="float:right">Requisitar</button>
                                <button class="btn bg-white" style="float:right" data-dismiss="modal" aria-label="Close">Voltar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modaladdQtdProduto" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center;" id="title_Produto_addQtd"> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="center-margin">
                    <div class="row">
                        <form method="post" asp-action="AdicionarQtdProduto" id="addProduto">
                            <div class="row px-2 mx-2 backgroundWhite border">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="col-12" style="padding:20px;">
                                    <br />
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="PrecoCusto_addQtd">Preço Custo </label>
                                        </div>
                                        <div class="col-8">
                                            <input disabled="disabled" id="PrecoCusto_addQtd" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="PrecoVenda_addQtd">Preço Venda </label>
                                        </div>
                                        <div class="col-8">
                                            <input disabled="disabled" id="PrecoVenda_addQtd" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="Qtdproduto_addQtd">Qtd Produto </label>
                                        </div>
                                        <div class="col-8">
                                            <input disabled="disabled" id="Qtdproduto_addQtd" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="QtdRequisitadaOuRetirada_addQtd">Qtd Adicionar </label>
                                        </div>
                                        <div class="col-8">
                                            <input type="number" id="QtdRequisitadaOuRetirada_addQtd" class="form-control" value="" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <br />
                            <div>
                                <button type="submit" id="submit_addQtd" class="btn btn-primary" style="float:right">Adicionar Qtd</button>
                                <button class="btn bg-white" style="float:right" data-dismiss="modal" aria-label="Close">Voltar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/produtos.js"></script>

    <script>
        $('#requisitarProduto').submit(function (e) {
            $('#submit_Req').prop("disabled", true);
            e.preventDefault();
            var id = model.id;
            var nome = model.nomeProduto;
            var custo = (model.precoCusto).toString().replace(".", ",");
            var venda = (model.precoVenda).toString().replace(".", ",");
            var qtdprod = model.qtdproduto;
            var qtdreti = $("#QtdRetirar_Req").val();

            $.ajax({
                url: '@Url.Action("RequisitarProduto", "Produtos")',
                type: 'Post',
                dataType: 'json',
                data: { Id: id, NomeProduto: nome, PrecoCusto: custo, PrecoVenda: venda, Qtdproduto: qtdprod, QtdRequisitadaOuRetirada: qtdreti },
                success: function (data) {
                    if (data != null && data.success) {
                        swal({
                            title: "Quantidade Requisitada do Estoque!",
                            text: qtdreti + " unidades requisitadas do produto " + nome,
                            icon: "success",
                            confirmButtonClass: "btn-primary",
                            closeOnConfirm: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    location.reload();
                                }
                            });
                    }
                    else {
                        swal("Falha ao atualizar!", data.message, "error");
                        console.log(model);
                    }
                },
                error: function (data) {
                    swal("Falha ao atualizar!", data.message, "error");
                    console.log(model);
                }
            });
        });

        $('#addProduto').submit(function (e) {
            $('#submit_addQtd').prop("disabled", true);
            e.preventDefault();
            var id = model.id;
            var nome = model.nomeProduto;
            var custo = (model.precoCusto).toString().replace(".", ",");
            var venda = (model.precoVenda).toString().replace(".", ",");
            var qtdprod = model.qtdproduto;
            var qtdreti = $("#QtdRequisitadaOuRetirada_addQtd").val();

            $.ajax({
                url: '@Url.Action("AdicionarQtdProduto", "Produtos")',
                type: 'Post',
                dataType: 'json',
                data: { Id: id, NomeProduto: nome, PrecoCusto: custo, PrecoVenda: venda, Qtdproduto: qtdprod, QtdRequisitadaOuRetirada: qtdreti },
                success: function (data) {
                    if (data != null && data.success) {
                        swal({
                            title: "Quantidade adicionadas ao Estoque!",
                            text: qtdreti + " unidades adicionadas ao produto " + nome,
                            icon: "success",
                            confirmButtonClass: "btn-primary",
                            closeOnConfirm: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    location.reload();
                                }
                            });
                    }
                    else {
                        swal("Falha ao adicionar unidades!", data.message, "error");
                        console.log(model);
                    }
                },
                error: function (data) {
                    swal("Falha ao adicionar unidades!", data.message, "error");
                    console.log(model);
                }
            });
        });

        $("#QtdRetirar_Req").change(function () {

            var precoVen = $("#PrecoVenda_Req").val();
            var qtd = $("#QtdRetirar_Req").val();

            $("#SubTotal").val((precoVen * qtd).toString().substring(0, 5));
        });
    </script>
}